@import 'bootstrap/bootstrap.scss';

.main-wrapper {
    height: 100vh;
  }

.aligner {
display: flex;
align-items: center;
justify-content: center;
}

.aligner-item {
max-width: 50%;
}

.aligner-item--top {
align-self: flex-start;
}

.aligner-item--bottom {
align-self: flex-end;
}