{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaVersion": 6,
    "ecmaFeatures": {
      "jsx": true
    }
  },  
  "plugins": [
    "react-hooks"
  ],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "space-before-function-paren": "off",
    "react/prefer-stateless-function": "warn",
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "jsx-a11y/anchor-is-valid": "off",
    "jsx-a11y/label-has-for": [ 2, {
      "required": {
          "every": [ "id" ]
      }
    }], 
    "jsx-a11y/label-has-associated-control": [ 2, {
      "labelComponents": ["CustomInputLabel"],
      "labelAttributes": ["label"],
      "controlComponents": ["CustomInput"],
      "depth": 3
    }],
    "max-len": ["error", {
      "ignoreComments": true,
      "ignoreStrings": true,
      "code": 160
    }],
    "import/no-cycle": "off",
    "react/prop-types": "off",
    "linebreak-style": "off",
    "global-require": "off",
    "semi": "off",
    "arrow-body-style": "off",
    "comma-dangle": "off",
    "class-methods-use-this": "off",
    "quote-props": "off",
    "no-underscore-dangle": ["error", { "allow": ["__REDUX_DEVTOOLS_EXTENSION__"] }],
    "react/destructuring-assignment": "off",
    "react/jsx-wrap-multilines": "off",
    "react/jsx-one-expression-per-line": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
