{
    "presets": [
      ["@babel/env", {
        "targets": {
          "browsers": ["last 2 versions"]
        }
      }],
      "@babel/react",
      "@babel/typescript"
    ],

    "plugins": [
      "@babel/plugin-proposal-export-default-from",
      "@babel/plugin-proposal-class-properties",
      "@babel/plugin-transform-runtime",
      ["@babel/plugin-proposal-decorators",{ "legacy": true }]
    ]
  }
